# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# TypeScript possible build outputs
tsconfig.tsbuildinfo

# GOV.UK assets copied into public dir
public/assets
public/static/assets

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Session state files
tmp