@use "../../node_modules/govuk-frontend/dist/govuk/index" with (
    $govuk-assets-path: "/static/assets/",
    $govuk-suppressed-warnings: (
        "legacy-organisation-colours"
    )
);

img {
	max-width: 100%;
}